:is(.class-1E, .class-1E-环境危害).top-box, :is(.class-1E, .class-1E-环境危害).diamond-color {
    background: rgb(var(--class-1E));
}

.lang-tr :is(.class-1E, .class-1E-环境危害).top-box .bottom-text::after {
    content: "等級 1E-环境危害";
}

:is(.class-1E, .class-1E-环境危害).top-box .header-diamond .diamond-image {
    -webkit-mask: var(--img-1E) center/80% no-repeat;
            mask: var(--img-1E) center/80% no-repeat;
}
:is(.sd-container[class*="{"], .lang-cn) :is(.class-1E, .class-1E-环境危害).bottom-box ul li:nth-child(1) > .default::after {
    content: "较安全";
}
.lang-tr :is(.class-1E, .class-1E-环境危害).bottom-box ul li:nth-child(1) > .default::after {
    content: "較安全";
}
:is(.sd-container[class*="{"], .lang-cn) :is(.class-1E, .class-1E-环境危害).bottom-box ul li:nth-child(2) > .default::after {
    content: "不稳定";
}
.lang-tr :is(.class-1E, .class-1E-环境危害).bottom-box ul li:nth-child(2) > .default::after {
    content: "不穩定";
}
:is(.sd-container[class*="{"], .lang-cn) :is(.class-1E, .class-1E-环境危害).bottom-box ul li:nth-child(3) > .default::after {
    content: "环境危害";
}
.lang-tr :is(.class-1E, .class-1E-环境危害).bottom-box ul li:nth-child(3) > .default::after {
    content: "環境危害";
}
