
    .header-diamond {
        opacity: 0;
    }


@media only screen and (max-width: 440px) {
    .top-box .top-text p {
        font-size: 1.6rem;
    }
    .top-box .bottom-text p, .top-box .bottom-text::after {
        font-size: 1.4rem;
        line-height: 1rem;
    }
}
