:is(.class-n\/a, .class-不适用, .class-不適用) {
    --sd-border: var(--sd-border-secondary);
    --sd-symbol: var(--sd-symbol-secondary);
}
:is(.class-n\/a, .class-不适用, .class-不適用).top-box, :is(.class-n\/a, .class-不适用, .class-不適用).diamond-color {
    background: rgb(var(--class-n-a));
}
:is(.class-n\/a, .class-不适用, .class-不適用).top-box .bottom-text p {
    display: none;
}
:is(.sd-container[class*="{"], .lang-cn) :is(.class-n\/a, .class-不适用, .class-不適用).top-box .bottom-text::after {
    content: "不适用";
}
.lang-tr :is(.class-n\/a, .class-不适用, .class-不適用).top-box .bottom-text::after {
    content: "不適用";
}
:is(.class-n\/a, .class-不适用, .class-不適用).top-box .header-diamond,
:is(.class-n\/a, .class-不适用, .class-不適用).top-box .gradient-box {
    background: none;
}
:is(.class-n\/a, .class-不适用, .class-不適用).top-box .header-diamond::after {
    content: "";
    position: absolute;
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 300.9 284.5' style='enable-background:new 0 0 300.9 284.5;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23FFC90E;%7D .st1%7Bfill:%23581A19;%7D%0A%3C/style%3E%3Cg%3E%3Cpolygon class='st1' points='73.4,32.6 0,105.4 13.6,105.4 86.4,32.6 '/%3E%3Cpolygon class='st1' points='26.5,105.4 40.1,105.4 112.9,32.6 99.3,32.6 '/%3E%3C/g%3E%3Cpolyline class='st1' points='287.3,105.4 214.5,32.6 227.5,32.6 287.3,91.9 '/%3E%3Cpolygon class='st1' points='274.4,105.4 260.8,105.4 188,32.6 201.6,32.6 '/%3E%3C/svg%3E");
    height: 15.735619469rem;
    width: 16.642699115rem;
    -webkit-filter: grayscale(100%) brightness(0.5);
            filter: grayscale(100%) brightness(0.5);
}
:is(.class-n\/a, .class-不适用, .class-不適用).top-box .header-diamond .diamond-image {
    -webkit-mask: var(--img-n-a) center/80% no-repeat;
            mask: var(--img-n-a) center/80% no-repeat;
}
:is(.sd-container[class*="{"], .lang-cn, .lang-tr) :is(.class-n\/a, .class-不适用, .class-不適用).bottom-box ul li:nth-child(1) > .default::after {
    content: "不存在";
}
:is(.sd-container[class*="{"], .lang-cn) :is(.class-n\/a, .class-不适用, .class-不適用).bottom-box ul li:nth-child(2) > .default::after {
    content: "缺失物质";
}
.lang-tr :is(.class-n\/a, .class-不适用, .class-不適用).bottom-box ul li:nth-child(2) > .default::after {
    content: "缺失物質";
}
:is(.sd-container[class*="{"], .lang-cn) :is(.class-n\/a, .class-不适用, .class-不適用).bottom-box ul li:nth-child(3) > .default::after {
    content: "不适合生命存在";
}
.lang-tr :is(.class-n\/a, .class-不适用, .class-不適用).bottom-box ul li:nth-child(3) > .default::after {
    content: "不適合生命存在";
}
