:is(.class-Ψ, .class-精神危害).top-box, :is(.class-Ψ, .class-精神危害).diamond-color {
    background: rgb(var(--class-spirit));
}


:is(.class-Ψ, .class-精神危害).top-box .header-diamond .diamond-image {
    -webkit-mask: var(--img-spirit) center/80% no-repeat;
            mask: var(--img-spirit) center/80% no-repeat;
}
:is(.sd-container[class*="{"], .lang-cn) :is(.class-Ψ, .class-精神危害).bottom-box ul li:nth-child(1) > .default::after {
    content: "不安全";
}
.lang-tr :is(.class-Ψ, .class-精神危害).bottom-box ul li:nth-child(1) > .default::after {
    content: "不安全";
}
:is(.sd-container[class*="{"], .lang-cn) :is(.class-Ψ, .class-精神危害).bottom-box ul li:nth-child(2) > .default::after {
    content: "不稳定";
}
.lang-tr :is(.class-Ψ, .class-精神危害).bottom-box ul li:nth-child(2) > .default::after {
    content: "不穩定";
}
:is(.sd-container[class*="{"], .lang-cn) :is(.class-Ψ, .class-精神危害).bottom-box ul li:nth-child(3) > .default::after {
    content: "精神危害";
}
.lang-tr :is(.class-Ψ, .class-精神危害).bottom-box ul li:nth-child(3) > .default::after {
    content: "精神危害";
}
