.top-box.class-2,
.diamond-color.class-2 {
    background: rgb(var(--class-2));
}

.top-box.class-2 .header-diamond .diamond-image {
    -webkit-mask: var(--img-2) center/80% no-repeat;
            mask: var(--img-2) center/80% no-repeat;
}

:is(.sd-container[class*="{"], .lang-cn, .lang-tr) .bottom-box.class-2 ul li:nth-child(1) > .default::after {
    content: "不安全";
}
:is(.sd-container[class*="{"], .lang-cn) .bottom-box.class-2 ul li:nth-child(2) > .default::after {
    content: "稳定";
}
.lang-tr .bottom-box.class-2 ul li:nth-child(2) > .default::after {
    content: "穩定";
}
:is(.sd-container[class*="{"], .lang-cn) .bottom-box.class-2 ul li:nth-child(3) > .default::after {
    content: "少量实体";
}
.lang-tr .bottom-box.class-2 ul li:nth-child(3) > .default::after {
    content: "少量實體";
}
