:is(.class-n\/a, .class-不适用, .class-不適用) {
    --sd-border: var(--sd-border-secondary);
    --sd-symbol: var(--sd-symbol-secondary);
}
:is(.class-n\/a, .class-不适用, .class-不適用).top-box, :is(.class-n\/a, .class-不适用, .class-不適用).diamond-color {
    background: rgb(var(--class-n-a));
}
:is(.class-n\/a, .class-不适用, .class-不適用).top-box .bottom-text p {
    display: none;
}
:is(.sd-container[class*="{"], .lang-cn) :is(.class-n\/a, .class-不适用, .class-不適用).top-box .bottom-text::after {
    content: "不适用";
}
.lang-tr :is(.class-n\/a, .class-不适用, .class-不適用).top-box .bottom-text::after {
    content: "不適用";
}
:is(.class-n\/a, .class-不适用, .class-不適用).top-box .header-diamond,
:is(.class-n\/a, .class-不适用, .class-不適用).top-box .gradient-box {
    background: none;
}
:is(.class-n\/a, .class-不适用, .class-不適用).top-box .header-diamond::after {
    content: "";
    position: absolute;
    background-image: var(--na-bgimg);
    height: 15.735619469rem;
    width: 16.642699115rem;
    -webkit-filter: grayscale(100%) brightness(0.5);
            filter: grayscale(100%) brightness(0.5);
}
:is(.class-n\/a, .class-不适用, .class-不適用).top-box .header-diamond .diamond-image {
    -webkit-mask: var(--img-n-a) center/80% no-repeat;
            mask: var(--img-n-a) center/80% no-repeat;
}
:is(.sd-container[class*="{"], .lang-cn, .lang-tr) :is(.class-n\/a, .class-不适用, .class-不適用).bottom-box ul li:nth-child(1) > .default::after {
    content: "不存在";
}
:is(.sd-container[class*="{"], .lang-cn) :is(.class-n\/a, .class-不适用, .class-不適用).bottom-box ul li:nth-child(2) > .default::after {
    content: "缺失物质";
}
.lang-tr :is(.class-n\/a, .class-不适用, .class-不適用).bottom-box ul li:nth-child(2) > .default::after {
    content: "缺失物質";
}
:is(.sd-container[class*="{"], .lang-cn) :is(.class-n\/a, .class-不适用, .class-不適用).bottom-box ul li:nth-child(3) > .default::after {
    content: "不适合生命存在";
}
.lang-tr :is(.class-n\/a, .class-不适用, .class-不適用).bottom-box ul li:nth-child(3) > .default::after {
    content: "不適合生命存在";
}
