/* 选中文本 */
::selection {
     color: rgb(var(--white-monochrome));
     background:rgb(var(--pale-accent)); 
}

/* HEIGHT */
 #skrollr-body::before {
     background-color: rgba(var(--swatch-topmenu-bg-color),0.2);
     background-repeat: repeat;
     background-size: 0.25em 0.25em;
     width: 100%;
     height: 9rem;
     position: absolute;
     top: 0;
     left: 0;
     content: "";
     -webkit-mask-image: var(--wallpaper-mask);
     mask-image: var(--wallpaper-mask);
     -webkit-mask-repeat: repeat;
     mask-repeat: repeat;
     -webkit-mask-size: var(--wallpaper-mask-size);
     mask-size: var(--wallpaper-mask-size);
     -webkit-mask-position: center;
     mask-position: center;
}
 #skrollr-body::before {
     background-color: rgba(var(--swatch-topmenu-bg-color),0.2);
     background-repeat: repeat;
     background-size: 0.25em 0.25em;
     width: 100%;
     height: var(--header-height-on-desktop);
     position: absolute;
     top: 0;
     left: 0;
     content: "";
     -webkit-mask-image: var(--wallpaper-mask);
     mask-image: var(--wallpaper-mask);
     -webkit-mask-repeat: repeat;
     mask-repeat: repeat;
     -webkit-mask-size: var(--wallpaper-mask-size);
     mask-size: var(--wallpaper-mask-size);
     -webkit-mask-position: center;
     mask-position: center;
}

#skrollr-body {
   background-image: radial-gradient(circle, rgba(var(--light-gray-monochrome),0) 50%, transparent 0);
}




 
/* ====== TOP-BAR ======== */

div.top-bar>ul>li>ul>li>a,
div.mobile-top-bar>ul>li>ul>li>a{
   transition: color 0.3s ease-out;
   -webkit-transition: color 0.3s ease-out;
}

div.top-bar>ul>li>ul>li>a:hover,
div.mobile-top-bar>ul>li>ul>li>a:hover{
  color: rgb(var(--black-monochrome))!important;
}

/* ====== BODY ====== */
body{
    background-color: rgba(var(--bright-other-accent));
}

div#extrac-div-1::after {
       content: "";
    position:fixed;
    top:var(--final-header-height-on-desktop);
    width:100%;
    height:calc(100% - var(--final-header-height-on-desktop));
    background-image: linear-gradient(to bottom,
      rgba(var(--bright-other-accent)) 0%,
      rgba(var(--pale-gray-monochrome)) 25%,
      rgba(var(--white-monochrome)) 100%
   );
    background-size: auto 100%;
    background-repeat: repeat;
    opacity: 1;
    z-index: -3;
}


 

/* 横截线 */
hr {
border-color:rgb(var(--pale-accent));
}
 
/* table */
table.wiki-content-table td,
table.wiki-content-table th,
table.wiki-content-table tr {
  border: .2rem solid rgb(var(--gray-monochrome)) !important;
  background-color:rgb(var(--bright-other-accent))!important;
}
 
table.wiki-content-table th {
  color:rgb(var(--black-monochrome))!important;
  background-color:rgb(var(--pale-gray-monochrome))!important;
}

/* Wiki */
.interwiki1 {
 
    background: rgb(var(--light-gray-monochrome));
    margin: 10px 15px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,102,.5);
    box-sizing: border-box;
    /*width: 15em;*/
    width: calc(var(--base-font-size*0.93333*19));
 
}
 
.interwiki1_title {
 
    color: rgb(var(--black-monochrome));
    border-bottom: solid 1px rgb(var(--black-monochrome));
    padding-left: 15px;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 8pt;
    font-weight: bold;
 
}
 
.interwiki1_entry {
    position: relative;
    margin: 2px 0;
 
}
 
.interwiki1_entry p::before {
    content: "■";
    font-size: 9px;
    color: rgb(var(--black-monochrome));
    position: relative;
    margin: 0 7px 0 5px;
    bottom: 3px;
 
}
 
.interwiki1_entry a, .interwiki1_entry a:visited {
    font-weight: bold;
    color: rgb(var(--black-monochrome));
    text-decoration: none;
    background: transparent;
 
}
 
.interwiki1_entry a:hover {
    color: rgb(var(--black-monochrome));
    background-color: transparent;
    text-decoration: underline;
 
}




/* 杂项 */
#main-content a {
   transition: all 0.3s ease-out;
   -webkit-transition: all 0.3s ease-out; /* Safari */
}

.scp-image-block .scp-image-caption {
    color: rgb(var(--white-monochrome));
    background-color: rgb(var(--dark-accent));
    border-color: rgb(var(--dark-accent));
}
 
#container {
   background-image: none;
}
 
#side-bar .side-block div a img {
filter: grayscale(0%);
}
 
div#page-options-bottom-2 > a, div#page-options-bottom > a {
   border-radius: 0em;
   -moz-border-radius: 0em;
   border: none;
}

div#page-options-bottom-2 > a:active, div#page-options-bottom-2 > a:hover, div#page-options-bottom > a:active, div#page-options-bottom > a:hover {
   border: none;
}
