.top-box.class-1,
.diamond-color.class-1 {
    background: rgb(var(--class-1));
}

.top-box.class-1 .header-diamond .diamond-image {
    -webkit-mask: var(--img-1) center/80% no-repeat;
            mask: var(--img-1) center/80% no-repeat;
}

:is(.sd-container[class*="{"], .lang-cn, .lang-tr) .bottom-box.class-1 ul li:nth-child(1) > .default::after {
    content: "安全";
}
:is(.sd-container[class*="{"], .lang-cn) .bottom-box.class-1 ul li:nth-child(2) > .default::after {
    content: "稳定";
}
.lang-tr .bottom-box.class-1 ul li:nth-child(2) > .default::after {
    content: "穩定";
}
:is(.sd-container[class*="{"], .lang-cn) .bottom-box.class-1 ul li:nth-child(3) > .default::after {
    content: "极少量实体";
}
.lang-tr .bottom-box.class-1 ul li:nth-child(3) > .default::after {
    content: "極少量實體";
}
